body {
  background: white;
}

.container {
  margin-left: 35%;
    color: black;

}
/* Login Box */

.login-box {
  width: 120%;
  
  
  

  background: transparent;
}

/* Logo */

.logo {
  font-size: 20px;

  height: 150%;

  margin-left: -60px;

}

.şifrenimi-unuttun  {
  display: block;

  background-color: rgba(255, 255, 255, 0.388);

  text-decoration: none;

  color: black;
 
}


/* Facebook Login */

.fb-giriş {
  text-decoration: none;

  background-color: white;
  
  color: black;
  
}
.fb-icon {
  width: 20px;
  height: 20px;
}

.yenihesap-giriş {
  text-decoration: none;

  background-color: white;
  
  color: rgb(18, 120, 215);


}

/* Forgot Password */

.forgot {
  text-decoration: none;

  color: #00376b;

  font-size: 13px;
}

.meta-giriş {
  
background-color: rgba(255, 255, 255, 0.388);
text-decoration: none;

}

.meta-icon {
  width: 20px;
  height: 20px;

}






