body {
  background: white;
}

/* Login Box */

.login-box {
  width: 350px;

  border: 1px solid #dbdbdb;

  background: white;
}

/* Logo */

.logo {
  font-size: 45px;

  font-weight: bold;
}

/* Divider */

.divider {
  color: #999;

  font-size: 14px;
}

/* Facebook Login */

.fb-login {
  text-decoration: none;

  font-weight: bold;

  color: #385185;
}

/* Forgot Password */

.forgot {
  text-decoration: none;

  color: #00376b;

  font-size: 13px;
}

/* Signup Box */

.signup-box {
  width: 350px;

  border: 1px solid #dbdbdb;

  background: white;
}

.signup-box a {
  text-decoration: none;

  font-weight: bold;
}